<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/StyleSheet.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div class="topnav">
        <ul>
            <li>@Html.ActionLink("Account", "Index", "Account")</li>
            <li>@Html.ActionLink("Roles", "Index", "Roles")</li>
            <li>@Html.ActionLink("User List", "UserList", "Account")</li>
        </ul>
    </div>
    <div class="main-container">
        <div class="main">
            @RenderBody()
        </div>
    </div>
</body>
</html>
